! Various font display options.
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Set the font.
URxvt.font: xft:PragmataPro:size=16
URxvt.boldFont: xft:PragmataPro:bold:size=16

! Set the cursor.
Xcursor.theme: Vanilla-DMZ
Xcursor.size: 22

! Large history.
URxvt.saveLines: 32767

! No scrollbar.
URxvt.scrollBar: false

! Do not scroll with output.
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

! When scrolling within secondary screens, do not use the scroll buffer.
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! Enable clickable URLs.
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,confirm-paste
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.colorUL: #c5f779

! Zenburn theme colors.
URxvt.foreground: #dcdccc
URxvt.background: #000000
! #3f3f3f
URxvt.underlineColor: #c5f779
URxvt.color0: #3f3f3f
URxvt.color1: #A07070
URxvt.color2: #60b48a
URxvt.color3: #dfaf8f
URxvt.color4: #506070
URxvt.color5: #dc8cc3
URxvt.color6: #8cd0d3
URxvt.color7: #DCDCCC
URxvt.color8: #709080
URxvt.color9: #cc9393
URxvt.color10: #7f9f7f
URxvt.color11: #f0dfaf
URxvt.color12: #94bff3
URxvt.color13: #ec93d3
URxvt.color14: #93e0e3
URxvt.color15: #ffffff
xterm.color0: #353535
xterm.color8: #666666
xterm.color1: #AE4747
xterm.color9: #EE6363
xterm.color2: #556B2F
xterm.color10: #9ACD32
xterm.color3: #DAA520
xterm.color11: #FFC125
xterm.color4: #6F99B4
xterm.color12: #7C96B0
xterm.color5: #8B7B8B
xterm.color13: #D8BFD8
xterm.color6: #A7A15E
xterm.color14: #F0E68C
xterm.color7: #DDDDDD
xterm.color15: #FFFFFF
